<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}" style="font-family:Georgia, 'Times New Roman', Times, serif">
                <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                Best Car Dealership
            </a>
            
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn btn-link" href="{% url 'djangoapp:about' %}">
                        About Us
                    </a>
                    
                    <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">
                        Contact Us
                    </a>
                    {% if user.is_authenticated %}
                    <a>
                        {{user.first_name}} {{user.username}}
                    </a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    {% else %}
                    <a>
                    
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Username" name="username">
                        <input type="password" class="form-control" placeholder="Password" name="psw">
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:register' %}">Sign Up</a>
                    </form>
                    </a>

                    {% endif %}
                </li>
                
                

            </ul>
           
        </nav>

        <div class="container">
            <h1>
                Add a review
            </h1>
            <form action="{% url 'djangoapp:addReview' dealer_details.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputReview">Review</label>
                    <textarea class="form-control" id="inputReview" rows="3" placeholder="Enter your review" name="review"></textarea>
                </div>
                <div class="form-check">
                    
                    <input type="checkbox" class="form-check-input" id="inputPurchase" name="purchase">
                    <label for="inputPurchase" id="form-check-label">Has purchased the car from {{dealer_details.full_name}} ?</label>
                </div>
                <select name="car" id="car" class="form-select" required>
                    {% for car in carMake %}
                        {% for carModel in car.carmodel_set.all %}
                        <option selected value={{carModel.id}}>{{carModel.name}}-{{car.name}}-{{carModel.year|date:"Y"}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>




                <div class="form-group">
                    <label for="inputPurchaseDate">Purchase Date</label>
                    <input type="date" class="form-control" id="inputPurchaseDate" placeholder="Purchase Date" value="Null"name="purchase_date">
                </div>
                <br/>


                {% if message %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>




    </body>
</html>