<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>
    
        <nav class="navbar navbar-light" style="background-color: #e3f2fd">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">
                <!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
                Best Car Dealership
            </a>
            <a class="nav-link" href="{% url 'djangoapp:about' %}">
                About
            </a>
            <a class="nav-link" href="{% url 'djangoapp:contact' %}">
                Contact Us
            </a>
                
        </nav>




    <!--Add a dealer table here -->

    </body>

</html>